@import 'tailwindcss';

@keyframes sweep {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(300%);
  }
}
.animate-sweep {
  animation: sweep 1s ease-in-out infinite;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  overflow: auto;
  background: url(assets/background.webp) center no-repeat;
  margin: 60px 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scrollbar-width: thin;
  scrollbar-color: #888 #444;
}
